# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# ImgBB Configuration (Rasmlar uchun)
VITE_IMGBB_API_KEY=

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=

# Gemini AI Configuration (Multiple keys for failover)
GEMINI_KEY_API=
GEMINI_API_KEY=
GEMINI_KEY_3=